.logo_hed{
    width: 100%;
}
/* .text-center{text-align: center;} */
/* css cho danh mục */
.border_bottom{
    border-bottom: 1px solid #d9d0d0;
}
.mg_auto{
    margin: auto;
}

/* css cho trang product */
.sup_nomal{
padding: 2px;
background-color: #8db8db;
color: white;
/* border-radius: 20%; */
}
.sup_new{
    padding: 2px;
background-color: red;
color: white;
/* border-radius: 20%; */

}
.sup_bestsale{
    padding: 2px;
background-color: #279103;
color: white;
/* border-radius: 20%; */
}
.sup_parent{position: relative;}
.sup_title{position: absolute;top: 20px;
    right: 0;}

/* css cho bẳng table */


/* .table .thead-light th {
    color: #6e707e;
    background-color: #eaecf4;
    border-color: #e3e6f0;
} */
/* .card .table td, .card .table th {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
} */
.table.align-items-center td, .table.align-items-center th {
    vertical-align: middle;
}
.table td, .table th {
    font-size: .8125rem;
    white-space: normal;
}
.table thead th {
    font-size: .65rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9ecef;
}
/* css cho sản phaamr add */


.form{margin-top: 10px;}
.form-group{
width: 400px;
margin-left: 0px;
padding: 5px 0px 10px;
}
.form-group label{font-weight: bold;
    margin: 5px 0px;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
.form-group input, .form-group .textarea,.form-group select{
width: 100%;
box-sizing: border-box;
padding: 7px 15px;
margin-top: 5px;}

/* thiết lập form left và form right */
.form-left{width: 50%;
float: left;}
.form-right{width: 50%;float: left;}
.btn-submit{background-color: rgb(11, 158, 84);
color: white;
padding: 10px 15px;
border: none;
cursor: pointer;
border-radius: 5px;
}
.btn-submit:hover{
    background-color: rgb(4, 83, 44)
}
.file_anh{max-width: 250px;max-height: 250px;}


#maDanhMuc {
    width: 319px;
    padding: 5px 10px;
}
.btn-primary{
    background-color: #337ab7;
}
/* css cho bình luân */
.float-left {
    float: left;
}

.reply {
    display: flex;
    gap: 0px;
    width: 960px;
}

.reply_img {
    width: 10%;
}

.reply_img img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.reply_content {
    width: 90%;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 2%;
    padding: 10px;
    box-sizing: border-box;
}

.reply_content .name {
    font-size: 16px;
    font-weight: bold;
}

.reply_content .from a {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}

.reply_content .time {
    font-weight: inherit;
    color: gray;
    font-size: 12px;
    margin-bottom: 5px;
}

.reply_content .comment {
    /* font-weight:inherit; */
    color: red;
    /* font-size: 12px; */
}
.text-end{text-align: end;}