.product{
    margin: 0 auto;
    width: 100%;
}
.mr{
    margin-right: 2%;
}
/* @font-face {
    font-family: myfont;
    src: url(../Poppins/Poppins-BlackItalic.ttf);
  } */

.product__left{
    margin-top: 18px;
    padding: 24px;
    border: 1px solid var(--border-color);
}
.box-trai{
    display: flex;
    align-items: space-between;
}
.img{
    width: 100%;
    /* min-height   : 520px; */
    border: 1px solid var(--background-color);
}
.img img{
    left: 20px;
    width: 100%;
    display: block;
}
.show-anh{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.img-sp{
   width: 22%;
    /* width: 22%; */
    border: solid 1px #ccc;
    /* float: left; */
    /* margin-right: 14px; */
    margin: 0 8px;
}
.product-img-small{
    display: block;
    
}
.img-sp img{
    width: 100%;
    display: block;
}
.img-sp:hover{
    border: solid 1px red;
}
/* .box-phai{
    min-height: 530px;
    width: 60%;
    font-family: myfont;
    font-size: 1rem;
    float: left;
} */
.title{
    min-height: 80px;
    color: #666;
    border-bottom: solid 1px #ccc;
}
.title h1{
    /* margin: 0; */
    font-size: 2.6rem;
    color: var(--primary-color);
    /* margin-bottom: 8px; */
}
.title del{
    margin-left: 16px;
    font-size: 1.4rem;
}
.title span{
    font-size: 2rem;
    color: #e34444;
}
/*css hình sao*/
div.stars {
    width: 200px;
    display: inline-block;
  }
  
  input.star { display: none; }
  
  label.star {
    float: left;
    padding: 2px ;
    font-size: 10px;
    color: #444;
    transition: all .2s;
    color: #FD4;
  }
  
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: #FE7;
  }
  
  input.star-1:checked ~ label.star:before { color: #F62; }
  
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }

  /*end*/
.buttons_added {
    margin: 24px 0;
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.buttons_added strong{
    color: #333;
    font-size: 1.5rem;
    padding-right: 10px;
    margin-top: 20px;
}

.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:3rem;
    width:4rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}

.input-qty {
    background-color:#fff;
    height:3rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

.size{
    margin-top: 15px;
    width: 100%;
    /* min-height: 145px; */
    border-bottom: solid #ccc 1px;
    font-size: 1.4rem;
    line-height: 23px;
    color: #333;
}
.size strong{
    margin-top: 5px;
    color: #333;
    font-size: 1.5rem;
}
.size span{
    color: #333;
    font-size: 1.5rem;
}
.mua-hang{
    width: 100%;
    margin-top: 20px;
}
.binh-luan input[type="submit"],
.mua-hang input[type="submit"]{
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    border-radius: 2px;
    font-size: 1.4rem;
    transition: all 0.3s linear;
    outline: none;
}
.binh-luan input[type="submit"]{
    margin-top: 8px;
}
.binh-luan input[type="submit"]:hover,
.mua-hang input[type="submit"]:hover{
    color: var(--white-color);
    background-color: var(--hover-color);
}
.mua-hang input[type="submit"] {
    margin-right: 16px;
}
/* css content-2*/
.product__right{
    margin: 32px 0;
}
.content-2{
    margin: 24px 0  ;
    /* width: 100%; */
    /* min-height: 700px; */
}
.top-yeu-thich{
    width: 100%;
    /* float: left; */
    border: solid 1px #ccc;
    /* min-height: 660px; */
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.tieu-de{
    color: #333;
    font-size: 1.4rem; 
    /* min-height: 40px; */
    /* margin: 0 auto; */
    margin: 10px 0;
    /* width: 80%; */
    border-bottom: solid 1px #ccc;
}   

.sanpham{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 8px 0;  
    /* width: 80%; */
    /* color: black; */
    /* min-height: 130px; */
    /* margin: 0 auto; */
    /* margin-top: 15px; */
}
.sanpham-img{
    border: solid 1px #ccc;
    width: 38%;
    /* min-height: 50px; */
    /* text-align: left; */
    /* float: left; */
    /* margin-right: 8px;
    margin-left: 8px; */
}
.sanpham-img img{
    width: 100%;
    display: block;
}
.addCart{
    /* margin-left: 16px; */
    width: 50%;
    /* float: right; */
    /* line-height: 25px; */
    margin-left: 16px;
    /* width: 100%; */
}
.addCart strong{
    font-size: 1.4rem;
}
.addCart-name{
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
    color: #333;
    margin-bottom: 8px;
    display: block;
}
.addCart-text {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

.addCart a:hover{
    color: red;
}
.from-binhluan{
    border: solid 1px #ccc;
    /* float: right; */
    /* width: 70%; */
    /* min-height: 500px; */
    padding: 24px;
}
.from{
    width: 100%;
    /* margin: 0 auto; */
}
.reveiws{
    /* min-height: 40px; */
    border-bottom: solid 1px #ccc;
    /* padding-top: 10px; */
    font-size: 1.4rem;
}
.reveiws h2{
    color: #333;
}
.nguoi-reveiws{
    margin: 0 auto;
    margin-top: 20px;
    /* min-height: 200px; */
}
.binhluan{
    width: 100%;
    /* min-height: 90px; */
}
.noi-dung-bl{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* min-height: 80px; */
    margin-top: 20px;
}
.anh{
    width: 8%;
    border: 1px solid #ccc;
    /* float: left; */
    /* min-height: 55px; */
    font-size: 40px;
    text-align: center;
    border-radius: 4px;
}
.bl{
    font-size: 1.4rem;
    width: 90%;
    border: 1px solid #ccc;
    /* min-height: 80px; */
    /* float: right; */
    border-radius: 4px;
    padding: 8px 12px;
}
.bl strong{
    text-transform:unset;
    /* padding-left: 3px; */
    color: #333;
}
.bl p{
    /* padding-left: 10px; */
    /* padding-top: 5px; */
    color: var(--text-color)
}
.comment-time{
    font-weight: 400;
}
.addemail{
    width: 100%;
    /* min-height: 50px; */
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 32px;
    color: var(--primary-color)
}
.binh-luan{
    width: 100%;
    font-size: 1.4rem;
}
.binh-luan .form-text{
    padding: 16px;
    border: 1px solid var(--border-color);
    font-size: 1.6rem;
    font-family: Helvetica;
    color: var(--text-color);
}


/* Show img */
.product-small-block {
    cursor: pointer;
}
.product-small-block.active {
    border: 1px solid var(--hover-color);
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pagination li {
    padding: 5px 2px;
    list-style-type: none;
    border: 1px solid var(--border-color);
}
.pagination li:hover{
    cursor: pointer;
    background-color: var(--hover-color);
   
}
.pagination li:hover a{
    color: var(--white-color);
}
.pagination li a {
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}